<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="navbar-lewagon sticky-top navbar-expand-md" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <div class="row ps-5 align-items-center">
      <div class="col-md-3">
        <h1> <%= link_to image_tag('catflix.png'), root_path %></h1>
        <p class="tagline">Add a cat. Ruin a film.</p>
      </div>
      <div class="col-md-7">
          <h2 class="fw-bold"><%= @list.name %></h2>
      </div>
      <div class="col-md-2 align-items-top text-decoration-none">
        <%= link_to new_list_path do  %>
          <div class="d-flex">
            <i class="fa-solid fa-circle-plus" style="color:white; margin-right:10px; margin-top:5px;"></i>
            <p style="margin: 0;">Add List</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
   <%= yield %>
  </body>
</html>
